<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalhes</h1>
    <article id="content">
        <h3>Desenvolvimento de Software</h3>
        <ul>
            <% devList.forEach(item => { %>
                <li><%= item %></li>
            <% }) %> 
        </ul>
        <!-- <h3>Analytics</h3>
        <ul>
            <% analyticsList.forEach(item => { %>
                <li><%= item %></li>
            <% }) %> 
        </ul> -->
        
        <a id="inscrever" href="#inscrever">Inscreva-se agora!</a>
    </article>
</body>
</html>